<nav class="navbar navbar-expand-lg px-3">
  <a class="navbar-brand" href="#"><img src="/img/Logo.png" alt="Italian Trulli" id="logo"></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active px-3">
          <a class="nav-link" href="#"><p id="wordDecoration">// </p>Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#"><p id="wordDecoration">-- </p>About me</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#"><p id="wordDecoration"># </p>Projects</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#"><p id="wordDecoration">** </p>Services</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#"><p id="wordDecoration">; </p>Contact</a>
        </li>
      </ul>
    </div>
</nav>