@font-face {
  font-family: 'Montserrat';
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Scode';
  src: url(/fonts/ScodeFont.ttf);
}

body {
  background-color: #023047 !important;
}

#logo{
  height: 60px;
}

.navbar{
  background-color: #01293d;
}

.nav-link{
  color: #fb8500 !important;
  font-family: "Scode" !important;
  font-size: small !important;
}

.nav-link:hover{
  color: #ffb703 !important;
}

#wordDecoration{
  margin: 0px;
  padding: 0px;
  display: inline;
  color: #faeb61;
  font-weight: 500;
}

#homeTitle{
  color:#ffb703;
  margin-left: 2%;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 90px;
}

#profTitle{
  margin-top: 1%;
  color:#ffb703;
  margin-left: 2%;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 40px;
}

#smallDesc{
  margin-top: 1%;
  color:#ffb8039f;
  margin-left: 2%;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  width: 70%;
}

#homeWelcomeMsg{
  color:#ffb8039f;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5%;
}

#welcomeBlock{
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

b{
  font-weight: 600 !important;
  color:#ffb803db;
}

#mainInfoHome{
  width: 45%;
}

#aboutBtn{
  font-family: "Montserrat";
  background-color: #fb8500;
  text-align: center;
  border-radius: 20px;
  color: #023047;
  text-decoration: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: 600;
  margin-top: 100px;
}